$font-raleway: "Raleway", sans-serif;
$font-montserrat: "Montserrat", sans-serif;
$font-family-full: "Montserrat", "Raleway", sans-serif;

// MAPS
$colors: (
  orange-50: #fef4f2,
  orange-100: #fee7e2,
  orange-200: #fed3ca,
  orange-300: #fcb4a5,
  orange-400: #f78972,
  orange-500: #ee6043,
  orange-600: #db4627,
  orange-700: #b8371d,
  orange-800: #98311c,
  orange-900: #7f2e1d,
  orange-950: #45140a,
  rosa: #ff00ff,
  azul-500: #0693e3,
  blanco: #ffffff,
);
